services:
  caddy:
    image: caddy:2.8.4
    container_name: ${CADDY_NAME}
    ports:
      - "${HOST_PUBLIC_IP}:80:80"
      - "${HOST_PUBLIC_IP}:443:443"
{% if CADDY_LISTEN_8600 | default(true) %}
      - "${HOST_PUBLIC_IP}:8600:8600"
{% endif %}
    volumes:
      - ./caddy:/etc/caddy
      - ./data:/data
    environment:
      - HOST_NAME=${HOST_NAME}
      - HOST_PUBLIC_IP=${HOST_PUBLIC_IP}
      - EXTRA_HOSTS=${EXTRA_HOSTS}
      - EXTRA_HOSTS_V2=${EXTRA_HOSTS_V2}
      - CADDY_EMAIL=${CADDY_EMAIL}
    restart: unless-stopped
    networks:
      - ackinacki-net

networks:
  ackinacki-net:
    name: ackinacki-net
{% if EXTERNAL_NET %}
    external: true
{% endif %}
