{% set otel_instance_id = BM_ID | default(HOST_NAME) | string %}
receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: caddy
          scrape_interval: 15s
          static_configs:
            - targets:
                - caddy-{{ HOST_PUBLIC_IP | replace('.', '-') }}:2019

processors:
  resource:
    attributes:
      - key: service.name
        value: "{{ CADDY_OTEL_SERVICE_NAME | default(OTEL_SERVICE_NAME) | default('caddy') }}"
        action: upsert
      - key: service.namespace
        value: "{{ NETWORK_NAME }}"
        action: upsert
      - key: host.name
        value: "{{ OTEL_MY_HOST_NAME | default(HOST_PUBLIC_IP) | default(inventory_hostname) | default(ansible_host) }}"
        action: upsert
      - key: service.instance.id
        value: "{% if NODE_GROUP_ID is defined and NODE_GROUP_ID %}{{ NODE_GROUP_ID }}-{% endif %}{{ otel_instance_id }}"
        action: upsert

  batch:

exporters:
{% if (OTEL_COLLECTOR_PROTO | default('grpc')) == 'grpc' %}
  otlp:
    endpoint: "{{ OTEL_COLLECTOR | regex_replace('^https?://', '') }}"
    tls:
      insecure: true
{% else %}
  otlphttp:
    endpoint: "{{ OTEL_COLLECTOR }}"
    tls:
      insecure: true
{% endif %}

service:
  pipelines:
    metrics:
      receivers:
        - prometheus
      processors:
        - resource
        - batch
      exporters:
{% if (OTEL_COLLECTOR_PROTO | default('grpc')) == 'grpc' %}
        - otlp
{% else %}
        - otlphttp
{% endif %}
