/target
/node/node-*
*logs*
venv
Cargo.lock
**/Cargo.lock
tests
!tests/rust
!tests/test_transport
meganet_logs
ss_logs
tests/rust/target

# just in case we add more tests which will polute docker context
**/target
