---

- name: Check if BLS keys file exists
  stat:
    path: "{{ BK_DIR }}/bk-configs/block_keeper{{ NODE_ID }}_bls.keys.json"
  register: bls_keys_file
  when: '"block_keeper" ~ NODE_ID ~ "_bls.keys.json" in OTHER_KEYS'

- name: Copy configs files with gentle BLS keys handling
  include_tasks: copy-configs-with-bls.yaml
  when:
    - '"block_keeper" ~ NODE_ID ~ "_bls.keys.json" in OTHER_KEYS'
    - bls_keys_file.stat.exists

- name: Copy configs files
  copy:
    dest: "{{ BK_DIR }}/bk-configs/"
    src: "{{ item }}"
  with_items:
    - "{{ NODE_CONFIGS }}"
    - "{{ NODE_OWNER_KEY }}"
    - "{{ OTHER_KEYS }}"
  when:
    - '"block_keeper" ~ NODE_ID ~ "_bls.keys.json" not in OTHER_KEYS or not bls_keys_file.stat.exists'

- name: Copy zerostate
  copy:
    dest: "{{ BK_DIR }}/bk-configs/"
    src: "{{ ZEROSTATE_FILE }}"
  when:
    - 'ZEROSTATE is true and BK_SET_FILE is false'

- name: Copy .env file for compose
  copy:
    dest: "{{ BK_DIR }}"
    src: ".env"
  when: COPY_ENV is defined and COPY_ENV
