---
- name: Get Epoch code hash
  ansible.builtin.set_fact:
    CODE_HASH: "{{ lookup('ansible.builtin.file', '../contracts/bksystem/BlockKeeperEpochContract.code.hash') }}"
  when: CODE_HASH is not defined

- name: Ensure required directories exist
  include_tasks: ensure-dirs.yaml
  when: [DO_START, not FAST_UPDATE]

- name: Copy static configs
  include_tasks: copy-static-configs.yaml
  when: [DO_START, not FAST_UPDATE]

- name: Prepare host
  include_tasks: prepare-host.yaml
  when: [DO_START, PREPARE_HOST, not FAST_UPDATE]

- name: Ensure bk set file
  include_tasks: start-with-bk-set.yaml
  when: [BK_SET_FILE, not ZEROSTATE, not FAST_UPDATE or UPGRADE is defined]

- name: Copy deployment configs
  include_tasks: copy-deployment-configs.yaml
  when: not FAST_UPDATE or UPGRADE is defined

- name: Pre-upgrade stop
  include_tasks: pre-upgrade-stop.yaml
  when: UPGRADE is defined

- name: Stop block keeper
  include_tasks: stop-bk.yaml
  when: DO_STOP

- name: Stop and delete data
  include_tasks: stop-delete-data.yaml
  when: DELETE_DATA

- name: Stop and delete logs
  include_tasks: stop-delete-logs.yaml
  when: DELETE_LOGS

- name: Ensure required directories exist after deleting something
  include_tasks: ensure-dirs.yaml
  when: DELETE_DATA or DELETE_LOGS

- name: Start block keeper
  include_tasks: start-bk.yaml
  when: DO_START or UPGRADE is defined

- name: Bootstrap BK set
  include_tasks: bootstrap-bk-set.yaml
  when:
    - BOOTSTRAP_BK_SET is defined and BOOTSTRAP_BK_SET is true
    - BOOTSTRAP_BK_SET_URL is defined and BOOTSTRAP_BK_SET_URL
    - DO_START or UPGRADE is defined or (DO_BOOTSTRAP is defined and DO_BOOTSTRAP)
