---

- name: Send graceful shutdown request to Block Manager
  ansible.builtin.shell:
    chdir: "{{ BM_DIR }}"
    # cmd: docker compose exec "block_manager" /bin/bash -c 'kill -l'
    cmd: docker compose down -t 60 "block_manager"
  ignore_errors: true

- name: Wait for container to stop or shutdown to finish
  ansible.builtin.shell:
    chdir: "{{ BM_DIR }}"
    cmd: |
      (docker compose ps "block_manager" -q | wc -l | grep -q "0") # || (grep -q -e "Database shutdown completed gracefully")
  register: container_check
  until: container_check is success
  retries: "20"
  delay: 1
  when: GS_WAIT is not defined or GS_WAIT is true

- name: Stop block manager container if the process still lingering
  ansible.builtin.shell:
    chdir: "{{ BM_DIR }}"
    cmd: docker compose down "block_manager" -t 60

- name: Stop q-server
  ansible.builtin.shell:
    chdir: "{{ BM_DIR }}"
    cmd: docker compose down q_server_bm -t 1

