services:
  proxy:
    image: {{ PROXY_IMAGE }}
    environment:
      RUST_LOG: {{ PROXY_LOG_LEVEL }}
{% set otel_node_id = PROXY_ID | default("unk") %}{% if NODE_GROUP_ID is defined and NODE_GROUP_ID %}{% set otel_node_id = NODE_GROUP_ID ~ '-' ~ otel_node_id %}{% endif %}
      OTEL_RESOURCE_ATTRIBUTES: proxy={{ otel_node_id }},service.namespace={{ NETWORK_NAME }}_proxy,service.instance.id={{ otel_node_id }},host.name={{ OTEL_MY_HOST_NAME | default(inventory_hostname) | default(ansible_host) }}
{% if OTEL_COLLECTOR is defined and OTEL_COLLECTOR %}
      OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: {{ OTEL_COLLECTOR }}
      OTEL_EXPORTER_OTLP_METRICS_PROTOCOL: {{ OTEL_COLLECTOR_PROTO | default('grpc') }}
{% endif %}
      OTEL_SERVICE_NAME: {{ OTEL_SERVICE_NAME | default(TEST_NAME ~ '-' ~ COMMIT_HASH) }}
{# Adding service section #}
{% include 'extra/proxy-env.j2' ignore missing +%}
    network_mode: host
    entrypoint: []
    command:
      - bash
      - -c
      - >
        [ -f /workdir/certs/proxy.ca.pem ] ||
        { gen_certs -f -n proxy -s "localhost" {{ PROXY_SIGNING_KEYS | map('basename') | map('regex_replace', '^(.*)$', '--ed-key-path /workdir/certs/\\1') | list | join(' ') }} -o /workdir/certs || exit $?; };
        proxy >> /logsdir/proxy.log 2>&1
    volumes:
      - {{ PROXY_DIR }}/config.yaml:/workdir/config.yaml
      - {{ PROXY_CERTS_DIR }}:/workdir/certs
      - {{ PROXY_LOGS }}:/logsdir

  logrotate:
    image: stakater/logrotate:3.13.0
    restart: unless-stopped
    environment:
      - CRON_SCHEDULE="58 * * * *"
    volumes:
      - {{ PROXY_LOGS }}:/logsdir
      - ./logrotate.sh:/logrotate.sh
    command: [ "/bin/bash", "/logrotate.sh" ]
    init: true
