my_cert: "/workdir/certs/proxy.ca.pem"
my_key: "/workdir/certs/proxy.key.pem"

peer_certs: []

bind: {{ ansible_host }}:8085
my_addr: {{ ansible_host }}:8085

subscribe: []
bk_addrs:
- {{ hostvars[groups['block_keepers'][0]].HOST_PUBLIC_IP }}:8600
- {{ hostvars[groups['block_keepers'][1]].HOST_PUBLIC_IP }}:8600
- {{ hostvars[groups['block_keepers'][2]].HOST_PUBLIC_IP }}:8600

gossip:
  listen_addr: 0.0.0.0:10000
  advertise_addr: {{ ansible_host }}:10000
  seeds:
  {% for seed in SEEDS -%}
  - {{ seed }}
  {% endfor -%}
  cluster_id: {{ NETWORK_NAME }}
