# Aerospike database configuration file
service {
	cluster-name acki-nacki-node
}

logging {
	console {
		context any info
	}
}

network {
	service {
		address any
		port {{ AEROSPIKE_PORT }}
		# access-address <IPADDR>
	}

	heartbeat {
		# mesh is used for environments that do not support multicast
		mode mesh
		address local
		port {{ AEROSPIKE_HEARTBEAT_PORT }}
		interval 150
		timeout 10
	}

	fabric {
		# Intra-cluster communication port (migrates, replication, etc)
		address local
		port {{ AEROSPIKE_FABRIC_PORT }}
	}

}

namespace node {
	replication-factor 1
	storage-engine device {
		file /opt/aerospike/data/node.dat
		filesize 40G
		read-page-cache true
	}
}