[defaults]
forks = 100
host_key_checking = False
pipelining = True
interpreter_python = auto_silent
timeout = 120

[ssh_connection]

# IMPORTANT: for an unknown reason `pipelining` option in [ssh_connection]
# section doesn't work. Consider duplicate it in [defaults] section.
#
# May change in future versions. To reproduce run:
#     ansible-config dump | grep PIPE
pipelining = True

ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=no -o StrictHostKeyChecking=accept-new -o ServerAliveInterval=29 -o ServerAliveCountMax=5 -o TCPKeepAlive=yes
