- name: Block keeper deployment
  hosts: '{{ target | default("block_keepers") }}'
  gather_facts: no
  become: yes
  vars:
    DELETE_DATA: no
    DO_START: yes
    BK_SET_FILE: yes
    ZEROSTATE: no
  roles:
    - block-keeper
